@import "../../node_modules/materialize-css/sass/components/color";
$primary-color: color("organge", "base");
$secondary-color: color("blue", "base");
@import "../../node_modules/materialize-css/sass/materialize.scss";
$material-design-icons-font-path: '/font/';
@import "../../node_modules/material-design-icons-iconfont/dist/material-design-icons.scss";

.modal {
    color: rgba(0, 0, 0, 0.87);
}
.side-nav {
    padding-bottom: 0;
}
.flex-column {
    display: flex;
    flex-direction: column;
}
.flex {
    flex: 1;
}
html, body {
    position: absolute;
    min-height: 100%;
    width: 100%;
}
body {
    background-color: #eceff1;
}

.centered-card {
  max-width: 400px;
  margin: 20px auto;
  & > .card-content > h4 {
    text-align: center;
  }
}

.card-list {
    @media #{$medium-and-up} {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0 -10px;
        & > * {
            margin: 0 10px;
        }
    }
}

.responsive-container {
    max-width: 1280px;
    margin: 0 auto;
    @media #{$medium-and-up} {
        width: 80%;
    }
}
